<%= form_for @artist, html: { multipart: true } do |f| %>
  <% if @artist.errors.any? %>
    <ul><% @artist.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-row">
    <label>
      <span><%= f.label :name %></span>
      <%= f.text_field :name, class: "input" %>
  </div>
  <div class="form-row">
    <label>
      <span><%= f.label :genre %></span>
      <%= f.text_field :genre, class: "input" %>
  </div>
  <div class="form-row">
    <label>
      <span><%= f.label :bio %></span>
      <%= f.text_field :bio, class: "textarea" %>
  </div>
  <div class="form-row">
    <%= f.submit class: "submit-button" %>
  </div>

  <div class="form-row">
      <div class="uploader">
        Upload Photos
        <%= file_field_tag "images[]", class: "btn btn-default", type: :file, multiple: true %>
      </div>
  </div>

  <div id="photos">
    <%= render 'photos/list' %>
  </div>
  <% end %>
