


<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @artists.each do |artist| %>
  <tr>
    <td><%=  artist.name %></td>

    <td><%= artist.genre %></td>
    <td><%= artist.bio %></td>
    <td><%= link_to 'Show', artist %></td>
    <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
    <td><%= link_to 'Delete', artist, method: :delete, data: { confirm: "Are you sure you want to delete this artist?" } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New artist', new_artist_path %>
