<div class="show-pages">
  <div class="container">
    <div class="artist-photos">
      <% @artist.photos.each do |photo| %>
        <div class="artist-photo">
          <%= image_tag photo.image.thumbnail %>
        </div>
      <% end %>
    </div>

    <div class="artist-info">
      <div class="artist-buttons">
        <%= link_to 'Edit artist', edit_artist_path, class: "btn btn-primary" %>
        <%= link_to 'Delete artist', artist_path(@artist), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure you want to delete this artist?" } %>
      </div>

      <h1><%= @artist.name %></h1>

      <span class="artist-genre">Genre: <%= @artist.genre %></span>

      <% if @artist.bio.present? %>
        <h2>Biography</h2>
        <p><%= @artist.bio %></p>
      <% end %>

      <div class="songs">
        <%= render 'songs/list' %>
        <%= render 'songs/form' %>
      </div>
    </div>
  </div>
</div>
