<!DOCTYPE html>
<html>
  <head>
    <title>Codaisseurify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'https://cdn.rawgit.com/jimoong/mosaigrid/master/css/grid.css', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://cdn.rawgit.com/jimoong/mosaigrid/master/js/grid.js' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
